@{
    ViewBag.Title = "Home Page";
}
@if ((bool)Session["PROMOTOR"] || (bool)Session["PROMOTORENTRENADOR"] || (bool)Session["GERENTE"] || (bool)Session["GERENTEPROMOTOR"])
{
    <div class="col-md-8">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-6 col-small-enlarge">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="lead-stats" href="#">
                            <span class="stats-number dolar" data-from="data" id="idResumenComisionGerente"></span>
                            <span class="stats-icon">
                                <i class="fa fa-money color-green"></i>
                            </span>
                            <h5>Ganacias hasta hoy</h5>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-xs-6 col-small-enlarge">
                <!-- col-md-6 start here -->
                <div class="panel panel-default">
                    <!-- Start .panel -->
                    <div class="panel-body">
                        <a class="lead-stats" href="#">
                            <span class="stats-number" data-from="data" id="idCantidadComisionGerente"></span>
                            <span class="stats-icon">
                                <i class="fa fa-shopping-cart color-yellow-dark"></i>
                            </span>
                            <h5>Ventas totales</h5>
                        </a>
                    </div>
                </div>
                <!-- End .panel -->
            </div>

            <div class="col-lg-4 col-md-6 col-xs-6 col-small-enlarge">
                <!-- col-md-4 start here -->
                <div class="panel panel-default">
                    <!-- Start .panel -->
                    <div class="panel-body">
                        <a class="lead-stats" href="#">
                            <span class="stats-number" data-from="0" data-to="0">0</span>
                            <span class="stats-icon">
                                <i class="fa fa-comments color-blue"></i>
                            </span>
                            <h5>Mensajes sin leer</h5>
                        </a>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
        </div>

        <div class="row">
            <!-- col-md-6 end here -->
            <div class="col-md-6 col-sm-6">
                <!-- col-md-6 start here -->
                <div class="panel panel-default plain matchSocial">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-gratipay"></i> Resumen de ventas del mes actual</h4>
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut" style="width: 100%; height:225px;"></div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-md-6 end here -->
            <!-- col-md-6 end here -->
            <div class="col-md-6 col-sm-6">
                <!-- col-md-6 start here -->
                <div class="panel panel-default plain matchSocial">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa fa-gratipay"></i> Resumen de ventas del mes actual</h4>
                    </div>
                    <div class="panel-body">
                        <div id="posteados-donut" style="width: 100%; height:225px;"></div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-md-6 end here -->
            
        </div>

        <div class="row no-padding">
            <!-- .row start -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- col-md-3 start here -->
                <div class="panel panel-default plain brad0 matchSparkStats">
                    <!-- Start .panel -->
                    <div class="panel-body">
                        <div class="sparkline-stats">
                            <div class="row padding">
                                <!-- .row start -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <h5 class="uppercase text-muted sparkline-title mb5">Colaboradores</h5>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-4">
                                    <!-- col-md-4 start here -->
                                    <div class="stats-number s24 strong" data-from="0" data-to="12750">0</div>
                                </div>
                                <!-- col-md-4 end here -->
                                <div class="col-lg-8 col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div id="sparkline-members" class="sparkline"></div>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div class="change color-green strong s16">
                                        +5% <i class="glyphicon glyphicon-circle-arrow-up"></i>
                                    </div>
                                </div>
                                <!-- col-md-12 end here -->
                            </div>
                            <!-- / .row -->
                        </div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-md-3 end here -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- col-md-3 start here -->
                <div class="panel panel-default plain brad0 matchSparkStats">
                    <!-- Start .panel -->
                    <div class="panel-body">
                        <div class="sparkline-stats">
                            <div class="row padding">
                                <!-- .row start -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <h5 class="uppercase text-muted sparkline-title mb5">Ventas</h5>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-4">
                                    <!-- col-md-4 start here -->
                                    <div class="stats-number dolar s24 strong" data-from="0" data-to="37927">0</div>
                                </div>
                                <!-- col-md-4 end here -->
                                <div class="col-lg-8 col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div id="sparkline-sales" class="sparkline"></div>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div class="change color-green strong s16">
                                        +2% <i class="glyphicon glyphicon-circle-arrow-up"></i>
                                    </div>
                                </div>
                                <!-- col-md-12 end here -->
                            </div>
                            <!-- / .row -->
                        </div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-md-3 end here -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- col-md-3 start here -->
                <div class="panel panel-default plain brad0 matchSparkStats">
                    <!-- Start .panel -->
                    <div class="panel-body">
                        <div class="sparkline-stats">
                            <div class="row padding">
                                <!-- .row start -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <h5 class="uppercase text-muted sparkline-title mb5">Cumplimento de metas</h5>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-4">
                                    <!-- col-md-4 start here -->
                                    <div class="stats-number dolar s24 strong" data-from="0" data-to="1250">0</div>
                                </div>
                                <!-- col-md-4 end here -->
                                <div class="col-lg-8 col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div id="sparkline-advert" class="sparkline"></div>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div class="change color-red strong s16">
                                        -17% <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                    </div>
                                </div>
                                <!-- col-md-12 end here -->
                            </div>
                            <!-- / .row -->
                        </div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-md-3 end here -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <!-- col-md-3 start here -->
                <div class="panel panel-default panel-tile plain brad0 matchSparkStats">
                    <!-- Start .panel -->
                    <div class="panel-body">
                        <div class="sparkline-stats">
                            <div class="row padding">
                                <!-- .row start -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <h5 class="uppercase text-muted sparkline-title mb5">bajas de promotores</h5>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-4">
                                    <!-- col-md-4 start here -->
                                    <div class="stats-number s24 strong" data-from="0" data-to="5.28" data-decimals="2">0</div>
                                </div>
                                <!-- col-md-4 end here -->
                                <div class="col-lg-8 col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div id="sparkline-eng" class="sparkline"></div>
                                </div>
                                <!-- col-md-12 end here -->
                                <div class="col-md-12">
                                    <!-- col-md-12 start here -->
                                    <div class="change color-red strong s16">
                                        -1% <i class="glyphicon glyphicon-circle-arrow-down"></i>
                                    </div>
                                </div>
                                <!-- col-md-12 end here -->
                            </div>
                            <!-- / .row -->
                        </div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-md-3 end here -->
        </div>
    </div>

}
@if((bool)Session["NOMINAS"])
{
    <div class="col-md-8">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-6 col-small-enlarge">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a class="lead-stats" href="#">
                            <span class="stats-number dolar" data-from="data" id="idPagoNominaHoy"></span>
                            <span class="stats-icon">
                                <i class="fa fa-money color-green"></i>
                            </span>
                            <h5>Pago de nómina hoy</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    var HomeURL = {
        urlCargarPaquetesVendidos : '@Url.Action("CargarPaquetesVendidos","Home")',
        urlCargarHistorialNomina: '@Url.Action("CargarHistorialNominas", "Home")',
        urlCargarResumenComisionGerente: '@Url.Action("CargarResumenComisionGerente","Home")',
        urlCargarCantidadVentaGente: '@Url.Action("CargarCantidadVentaGerente","Home")',
        urlCargarPosteadosVsProduccionGerente: '@Url.Action("CargarPosteadosVSProduccionGerente", "Home")',
        urlCargarPosteadosVsProduccionPromotor: '@Url.Action("CargarPosteadosVSProduccionPromotor", "Home")',
        urlCargarResumenNomina: '@Url.Action("CargarResumenNomina","Home")',
        
    }
</script>


