@using GrupoLideri.Models
@{
    ViewBag.Title = "AsignarClavePromotor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default toggle panelMove panelClose panelRefresh">
    <div class="panel-heading">
        <h4 class="panel-title">Personal</h4>
    </div>
    <div class="panel-body">
        <table id="responsive-datatables" class="table table-bordered table-striped table-hover dt-responsive non-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido paterno</th>
                    <th>Apellido materno</th>
                    <th>RFC</th>
                    <th>CURP</th>
                    <th>Telefono</th>
                    <th>Fecha de nacimiento</th>
                    <th>Correo</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody id="tblPersonas">
                @{
                    if (((List<DO_Persona>)ViewBag.ListaPersonasPorAsignarCve).Count > 0)
                    {
                        foreach (DO_Persona item in ViewBag.ListaPersonasPorAsignarCve)
                        {
                            <tr>
                                <td>@item.Nombre</td>
                                <td>@item.ApellidoPaterno</td>
                                <td>@item.ApellidoMaterno</td>
                                <td>@item.RFC</td>
                                <td>@item.CURP</td>
                                <td>@item.Telefono</td>
                                <td>@item.fechaNacimiento</td>
                                <td>@item.Email</td>
                                
                                        @Html.AntiForgeryToken()
                                        <td>
                                            <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#mdlCambiarDatos" onclick="CargarIdPersona('@item.idPersona')" value="Ver" />

                                            <div class="modal fade" data-backdrop="static" data-keyboard="false" id="mdlCambiarDatos" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document" data-backdrop="static" data-keyboard="false">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" onclick="BorrarFecha()">&times;</button>
                                                            <h3 class="modal-title" id="modalLabel">Actualizar Datos</h3>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table>
                                                                <tr>
                                                                    <td><label class="col-lg-2 col-md-3 control-label">NOMBRE</label></td>
                                                                    <td><input class="form-control" name="Nombre" id="Nombre" type="text" value="@item.Nombre"></td>
                                                                </tr>

                                                                <tr>
                                                                    <td><label class="col-lg-2 col-md-3 control-label">APELLIDO PATERNO</label></td>
                                                                    <td><input class="form-control" name="Nombre" id="Nombre" type="text" value="@item.ApellidoPaterno"></td>
                                                                </tr>

                                                                <tr>
                                                                    <td><label class="col-lg-2 col-md-3 control-label">APELLIDO MATERNO</label></td>
                                                                    <td><input class="form-control" name="Nombre" id="Nombre" type="text" value="@item.ApellidoMaterno"></td>
                                                                </tr>

                                                                <tr>
                                                                    <td><label class="col-lg-2 col-md-3 control-label">CURP</label></td>
                                                                    <td><input class="form-control" name="Nombre" id="Nombre" type="text" value="@item.CURP"></td>
                                                                </tr>

                                                                <tr>
                                                                    <td><label class="col-lg-2 col-md-3 control-label">USUARIO</label></td>
                                                                    <td><input class="form-control" name="Nombre" id="Nombre" type="text"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><label class="col-lg-2 col-md-3 control-label">CLAVE PROMOTOR</label></td>
                                                                    <td><input class="form-control" name="Nombre" id="Nombre" type="text"></td>
                                                                </tr>
                                                                <tr>
                                                                    @{
                                                                        foreach (DO_Archivo archivo in item.ArchivosPersonales)
                                                                        {
                                                                            using (Html.BeginForm("DescargarArchivo","RecursosHumanos",new { idArchivo = archivo.idArchivo},FormMethod.Post))
                                                                            {
                                                                                @Html.AntiForgeryToken()
                                                                                <td>
                                                                                    <label class="col-lg-2 col-md-3 control-label">@archivo.idArchivo</label>
                                                                                </td>
                                                                                <td>
                                                                                    <input type="submit" value="Descargar" class="btn btn-default"  />
                                                                                </td>
                                                                            }

                                                                        }
                                                                    }

                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="modal-footer">

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                     

                            </tr>
                          }
                      }
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function descargarArchivo(_idArchivo)
    {
        var urlSave = '@Url.Action("DescargarArchivo","RecursosHumanos")';
        $.ajax({
            type: "POST",
            url: urlSave,
            data: JSON.stringify({ idArchivo: _idArchivo }),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });

    }
</script>