@using GrupoLideri.Models
@{
    ViewBag.Title = "Promotor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Producción promotor</h2>
<div class="panel panel-default toggle panelMove panelClose panelRefresh">
    <div class="panel-heading">
        <h4 class="panel-title">Comisiones (Gerente)</h4>
    </div>
    <div class="panel-body">
        <table id="responsive-datatables" class="table table-bordered table-striped table-hover dt-responsive non-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>FECHA DE CAPTURA</th>
                    <th>PROMOTOR</th>
                    <th>ESTRATEGIA</th>
                    <th>ÁREA</th>
                    <th>FOLIO SIAC</th>
                    <th>ESTATUS SIAC</th>
                    <th>TIPO DE LINEA</th>
                    <th>LINEA CONTRATADA</th>
                    <th>PAQUETE</th>
                    <th>TELEFONO ASIGNADO</th>
                    <th>ESTATUS MULTIORDEN</th>
                    <th>ORDEN DE SERVICIO</th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (((List<N_Folio_SIAC>)ViewBag.ListaProduccionPromotor).Count > 0)
                    {
                        foreach (N_Folio_SIAC folio in ViewBag.ListaProduccionPromotor)
                        {
                            <tr>
                                <td>@folio.FECHA_CAPTURA</td>
                                <td>@folio.PROMOTOR</td>
                                <td>@folio.ESTRATEGIA</td>
                                <td>@folio.AREA</td>
                                <td>@folio.FOLIO_SIAC</td>
                                <td>@folio.ESTATUS_SIAC</td>
                                <td>@folio.TIPO_LINEA</td>
                                <td>@folio.LINEA_CONTRATADA</td>
                                <td>@folio.PAQUETE</td>
                                <td>@folio.TELEFONO_ASIGNADO</td>
                                <td>@folio.ESTATUS_PISA_MULTIORDEN</td>
                                <td>@folio.ORDEN_SERVICIO_TV</td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
